footer {
  height: $footer-height;
  padding-top: 40px;
  background-color: $main-black;
}

.footer-logo-wrapper {
  float: left;
}

.footer-items {
  float: right;
  color: $brand-primary;
  font-size: 14px;
  > ul {
    @extend .list-inline;
    text-align: right;
    color: white;
    margin-bottom: 30px;
    > li {
      padding: 0;
      margin-left: 20px;
    }
  }
}

.footer-logo {
  color: white;
  font-size: 24px;
}

.footer-contribute {
  font-size: 10px;
}
