@import "mixins";

.home-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/assets/images/home.jpg') center no-repeat;
  background-size: cover;
}

.home-menu-links {
  height: 50px;
  width: 100%;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 90%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  > ul {
    @extend .list-unstyled;
    @extend .list-inline;
  }
  > .home-right-links {
    margin-left: auto;
    > li {
      margin-right: 20px;
    }
  }
  > .home-left-links {
    > li {
      margin-left: 20px;
    }
  }
}

$home-transition-delay: 250ms;

.home-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all ease 0.5s;
  transition-delay: $home-transition-delay;
  transform: translate(-50%, -50%);
}

.home-centered-top {
  transform: translate(-50%, -100%);
}

.home-welcome-text {
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  @include font-size(5);
  color: #fff;
  margin-top: 0;
  .home-welcome-header,
  .home-welcome-title {
    display: block;
  }
  .home-welcome-title {
    @include font-size(7);
    color: $primary-color;
    font-weight: 700;
    position: relative;
  }
}

.home-title-beta {
  position: absolute;
  font-weight: normal;
  transform: rotate(-20deg);
  background-color: black;
  @include font-size(1.3);
  padding: 5px;
  color: #fff;
  bottom: 0;
  right: -15px;
}

.home-input {
  position: relative;
  z-index: 100;
  .input {
    width: 100%;
    height: 56px;
    padding: 10px 16px;
    @include font-size(2);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    &:focus {
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    }
  }
  button {
    height: 56px;
    @include font-size(2);
    padding: 10px 25px;
  }
}

.home-description {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
  transition-delay: $home-transition-delay;
  text-align: center;
  font-size: 30px;
  color: $primary-color;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 50%);
}

.home-description-showed {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 500%);
}
