@import "mixins";

.playlist-main-content {
  position: relative;
  overflow: hidden;
  height: 380px;
}

.playlist-background {
  z-index: -1;
  position: absolute;
  top: -200px;
  left: -200px;
  right: -200px;
  bottom: -200px;
  transform: scale(1.1);
  @include blur(50px);
}

#waveform {
  cursor: pointer;
  path {
    transition: stroke ease 1s;
  }
  path[data-played=true] {
    stroke: $primary-color;
  }
  path,
  path[data-played=false] {
    stroke: #ccc;
  }
}

.playlist-current-track-sound {
  height: 100%;
}

.playlist-name {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 30px 0 30px 30px;
  font-size: 30px;
}

.playlist-current-track-artwork img {
  width: 250px;
  margin: 20px;
}

.playlist-current-track {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.playlist-current-track-inner {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.playlist-current-track-infos {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  font-size: 20px;
}

.playlist-current-track-title,
.playlist-current-track-time {
  display: inline-block;
}

.playlist-current-track-title {
  margin-right: 30px;
}

.playlist-controls {
  color: white;
  user-select: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  i {
    cursor: pointer;
    vertical-align: middle;
  }
  span + span {
    margin-left: 20px;
  }
  > .playlist-play-pause i {
    font-size: 40px;
    display: inline-block;
    border: 1px solid white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
  .fa-play {
    padding: 12px 14px 12px 21px;
  }
  .fa-pause {
    padding: 12px 15px 12px 17px;
  }
}

.playlist-tracks {
  min-height: 500px;
  background-color: $gray-lighter;
  padding: 30px 0;
  flex: 1 1 auto;
  display: flex;
}

.playlist-tracks-inner {
  display: flex;
}

.playlist-tracklist {
  border-right: 1px solid $gray-light;
  padding-right: 2%;
  position: relative;
  z-index: 10;
}

.playlist-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.playlist-title {
  @include font-size(2.5);
  color: $gray;
}

.playlist-tracklist-search {
  position: relative;
  margin-left: auto;
  z-index: 500;
}

.playlist-input {
  .input {
    width: 350px;
    height: 35px;
    padding: 10px 16px;
    @include font-size(1.8);
  }
  button {
    height: 35px;
    @include font-size(1.8);
    padding: 9px 15px 11px;
  }
}

.playlist-tracklist-track {
  @include font-size(1.8);
  display: flex;
  align-items: center;
  position: relative;
  > img {
    margin-right: 20px;
    width: 60px;
  }
}

.playlist-tracklist-duration {
  margin-left: auto;
  margin-right: 20px;
  flex-shrink: 0;
}

.playlist-tracklist-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
  max-width: 750px;
}

.playlist-track-delete {
  position: absolute;
  padding: 3px 10px 3px 15px;
  background-color: $danger-color;
  color: white;
  z-index: -1;
  top: 5px;
  right: -10px;
  transition: all ease .2s;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    right: -30px;
  }
}

.playlist-tracklist-track-play-pause {
  flex-shrink: 0;
  > i {
    cursor: pointer;
    float: right;
    color: #fff;
    background-color: $primary-color;
    font-size: 30px;
    border: 1px solid $primary-color;
    border-radius: 100px;
  }
  .fa-play {
    padding: 12px 12px 12px 19px;
  }
  .fa-pause {
    padding: 12px 14px 12px 15px;
  }
}

.playlist-infos {
  text-align: center;
  .playlist-header {
    justify-content: center;
  }
}

.playlist-infos-list {
  @extend .list-unstyled;
  li {
    margin-bottom: 40px;
  }
}

.playlist-infos-value {
  @include font-size(4);
  color: $gray;
  margin-bottom: 10px;
}

.playlist-infos-title {
  @include font-size(2);
  color: $gray-light;
}
