<div class="home-background-image">
  <div class="home-menu-links">
    <ul class="home-left-links">
      <li>
        <a href="/">About</a>
      </li>
    </ul>
    <ul class="home-right-links">
      <li>
        <a href="/">Explore</a>
      </li>
      <li>
        <a href="/">Register</a>
      </li>
      <li>
        <a href="/">Login</a>
      </li>
    </ul>
  </div>
  <div class="home-centered">
    <h1 class="home-welcome-text">
      <span class="home-welcome-header">WELCOME TO</span>
      <span class="home-welcome-title">SOUNDGETHER<span class="home-title-beta">BETA</span></span>
    </h1>
    <div search-input="" query="vm.query" context="home" class="search-input--container"></div>
    <div class="home-description">
      Create. Share. Enjoy.
    </div>
  </div>
</div>
