<div class="home-background-image">
  <div class="home-menu-links">
    <ul class="pull-left">
      <li>
        <a href="/">About</a>
      </li>
    </ul>
    <ul class="pull-right">
      <li>
        <a href="/">Explore</a>
      </li>
      <li>
        <a href="/">Register</a>
      </li>
      <li>
        <a href="/">Login</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="home-centered">
      <h1 class="home-welcome-text">
        WELCOME ON <span class="home-welcome-title">SOUNDGETHER</span>
      </h1>
      <div class="home-input input-group">
        <input class="form-control input-xlg" type="text" placeholder="Search for an artist, a track..."/>
        <span class="input-group-btn">
          <button class="btn btn-primary home-create-button">Create!</button>
        </span>
      </div>
    </div>
  </div>
</div>
