.search-input--container {
  position: relative;
}

.search-input {
  .input {
    z-index: 10;
    position: relative;
    color: $gray;
  }
  button {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    transition: transform ease .2s;
    &.show {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      transform: translateX(110%);
    }
  }
}

.search-input--wave {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: rgba(255, 255, 255, 0.6) 15px 0 0, rgba(255, 255, 255, 0.6) -15px 0 0;
  transform-origin: center center;
  border-radius: 50px;
}
