.search-input {
  .input {
    z-index: 10;
    position: relative;
    color: $gray;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  button {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    transition: transform ease .2s;
    &.show {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      transform: translateX(110%);
    }
  }
}
