<div class="container">
  <ul>
    <li>
      <a href='/' class="header-logo">
        Soundgether
        <span>beta</span>
      </a>
    </li>
  </ul>
  <ul class="header-extra-links">
    <li>
      <a href='/' class="header-item">
        Explore
      </a>
    </li>
    <li>
      <a href='/' class="header-item">
        My Playlists
      </a>
    </li>
  </ul>
  <ul class="header-user-links">
    <li>
      <a href='/' class="header-item">
        Login
      </a>
    </li>
    <li>
      <a href='/' class="header-item">
        Register
      </a>
    </li>
  </ul>
</div>
