<div navbar=""></div>

<div class="main-content">
  <div class="playlist-main-content">
    <div class="playlist-background" back-img="{{ vm.getArtwork(vm.currentTrack.track, 't500x500') }}"></div>
    <div class="playlist-current-track-sound fs-row">
      <div class="fs-cell fs-lg-8">
        <div class="playlist-name">
          {{ vm.playlist.name }}
        </div>
        <div id="waveform" ng-click="vm.seekTo($event, vm.currentTrack)"></div>
      </div>
      <div class="fs-cell fs-lg-4">
        <div class="playlist-current-track-artwork">
          <img ng-src="{{ vm.getArtwork(vm.currentTrack.track, 't500x500') }}" />
        </div>
      </div>
    </div>

    <div class="playlist-current-track">
      <div class="fs-row">
        <div class="fs-cell fs-all-full playlist-current-track-inner">
          <div class="playlist-controls">
            <button ng-disabled="vm.isFirstTrack(vm.currentTrack)" ng-click="vm.previousTrack(vm.currentTrack)"><i class="fa fa-backward"></i></button>
            <button class="playlist-play-pause" ng-click="vm.playPauseTrack(vm.currentTrack)">
              <i ng-class="vm.isPlaying(vm.currentTrack) ? 'fa-pause' : 'fa-play'" class="fa fa-fw"></i>
            </button>
            <button ng-disabled="vm.isLastTrack(vm.currentTrack)" ng-click="vm.nextTrack(vm.currentTrack)"><i class="fa fa-forward"></i></button>
          </div>
          <div class="playlist-current-track-infos">
            <div class="playlist-current-track-title">
              {{ vm.currentTrack.track.title }}
            </div>
            <div class="playlist-current-track-time">
              {{ vm.getCurrentTime(vm.currentTrack) | prettyTime }} / {{ vm.currentTrack.track.duration | prettyTime }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="playlist-tracks">
    <div class="fs-row playlist-tracks-inner">
      <div class="playlist-tracklist fs-cell fs-lg-10">
          <div class="playlist-header">
            <div class="playlist-title">TRACKLIST</div>
            <div class="playlist-tracklist-search">
              <div search-input="" context="playlist" playlist="vm.playlist"></div>
            </div>
          </div>
        <div class="fancy-slide" ng-repeat="track in vm.playlist.tracks">
          <div class="panel playlist-tracklist-track">
            <img ng-src="{{ vm.getArtwork(track.track) }}" />
            <div class="playlist-tracklist-title">{{ track.track.title }}</div>
            <div class="playlist-tracklist-duration">
              {{ track.track.duration | prettyTime }}
            </div>
            <div class="playlist-tracklist-track-play-pause">
              <button ng-click="vm.playPauseTrack(track)">
                <i ng-class="vm.isPlaying(track) ? 'fa-pause' : 'fa-play'" class="fa"></i>
              </button>
            </div>
            <div class="playlist-track-delete" ng-click="vm.deleteTrack(track)"><i class="fa fa-times"></i></div>
          </div>
        </div>
      </div>
      <div class="playlist-infos fs-cell fs-lg-2">
        <div class="playlist-header">
          <div class="playlist-title">INFOS</div>
        </div>
        <ul class="playlist-infos-list">
          <li>
            <div class="playlist-infos-value">{{ vm.playlist.tracks.length }}</div>
            <div class="playlist-infos-title">Number of tracks</div>
          </li>
          <li>
            <div class="playlist-infos-value">{{ vm.totalDuration | prettyTime }}</div>
            <div class="playlist-infos-title">Total length</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div footer=""></div>
